<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Odia&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <header class="main-head">
        <nav>
            <h1>ENSIAS.Clubs</h1>
            <ul>
                <li></li>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="loginclub.html">Club</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
      <form action="">
            <table class="table">
                <tr> 
                    <td>Administrateur :</td>
                    <td> <input type=text name="clubname"/><br> </td>
                </tr>
                <tr>
                    <td>Mot de passe :</td>
                    <td> <input type=password name="password"/><br> </td>
                </tr>
                <tr>
                    <td><button type="connecter" class="btn btn-primary">Connecter</button></td>
                    <td> <button type="Annuler" class="btn btn-secondary">Annuler</button></td>
                </tr>
           </table>
         </form>
        </section>
    
     <footer class="footer">
        <div class="contrainer">
            <div class="row">
                <div class="footer-col">
                    <h4>LIENS UTILES</h4>
                    <ul>
                        <li><a href="http://ensias.um5.ac.ma/">ENSIAS</a></li>
                        <li><a href="http://www.um5.ac.ma/um5/">UM5</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>CONTACTEZ-NOUS</h4>
                    <ul><li><a href="">Laissez nous vos remarques</a></li></ul>
                </div>
                <div class="footer-col">
                    <h4>LOCALISATION</h4>
                    <ul>
                        <li><a href="">Avenue Mohammed Ben Abdallah Regragui, Madinat Al Irfane, BP 713, Agdal Rabat, Maroc</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>